/*-----First Rules-----*/
body,
html {
    margin: 0;
    height: 100%;
}

.wrapper {
    background-image: linear-gradient(to bottom left, #ECC430, #B9283D);
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}


/*-----First section-----*/
.main {
    height: 100%;
    width: 100%;
    background-color: red;
}

/*-----Footer-----*/
.footer {
    height: 100%;
    width: 100%;
    background-color: blue;
}
